<%= form_for(@robot, :remote => true, :validate => true, :html => {:class => 'form-horizontal well', :multipart => true}) do |f| %>

    <% if @robot.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@robot.errors.count, "error") %> prohibited this robot from being saved:</h2>

          <ul>
            <% @robot.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div id="place_data">

      <div class="field">
        <%= f.label :x_coordinate %>
        <%= f.number_field :x_coordinate, min: 1, max: 5, id: 'x_ord' %>
      </div>

      <div class="field">
        <%= f.label :y_coordinate %>
        <%= f.number_field :y_coordinate, min: 1, max: 5, id: 'y_ord' %>
      </div>

      <div class="field">
        <%= f.label :orientation %>
        <%= f.select :orientation, options_for_select([['north'], ['south'], ['east'], ['west']]), {}, id: 'orient' %>
      </div>

      <div class="actions">
        <%= f.submit 'Place Robot', id: 'place_button' %>
      </div>

    </div>
<% end %>


