<%= form_for(robot) do |f| %>
  <% if robot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(robot.errors.count, "error") %> prohibited this robot from being saved:</h2>

      <ul>
      <% robot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :x_coordinat %>
    <%= f.number_field :x_coordinat %>
  </div>

  <div class="field">
    <%= f.label :y_coordinate %>
    <%= f.number_field :y_coordinate %>
  </div>

  <div class="field">
    <%= f.label :oreintation %>
    <%= f.text_field :oreintation %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
