<%= form_for(@robot, :remote => true, :validate => true, :html => {:multipart => true}) do |f| %>

        <% if @robot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@robot.errors.count, "error") %> prohibited this robot from being saved:</h2>

      <ul>
      <% @robot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <button type="button" class="btn btn-primary" id='place'>Place</button>
      <button type="button" class="btn btn-primary" id='move'>Move</button>
      <button type="button" class="btn btn-primary" id='left'>Left</button>
      <button type="button" class="btn btn-primary" id='right'>Right</button>
      <button type="button" class="btn btn-primary" id='report'>Report</button>

      <div id="place_data">

          <div class="field">
            <%= f.label :x_coordinate %>
            <%= f.number_field :x_coordinate, min:1, max:5 %>
          </div>

          <div class="field">
            <%= f.label :y_coordinate %>
            <%= f.number_field :y_coordinate, min:1, max:5 %>
          </div>

          <div class="field">
            <%= f.label :orientation %>
            <%= f.select :orientation, options_for_select([['north'], ['south'], ['east'], ['west']])%>
          </div>

          <div class="actions">
            <%= f.submit 'Place Robot' , :id => 'place_button'%>
          </div>

      </div>
<% end %>
