<p id="notice"><%= notice %></p>

<p>
  <strong>X coordinate</strong>
  <%= @robot.x_coordinate %>
</p>

<p>
  <strong>Y coordinate:</strong>
  <%= @robot.y_coordinate %>
</p>

<p>
  <strong>Orientation:</strong>
  <%= @robot.orientation %>
</p>

<%= link_to 'Edit', edit_robot_path(@robot) %> |
<%= link_to 'Back', robots_path %>
